html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    background-color: #f1f1f1;    
}

h1 {
    color: white;
}

h1::first-letter {
    text-transform: capitalize;
}

header,
.lomopo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    width: 90%;
    gap: 16px;
    background: linear-gradient(
        to right,
        #f1f1f1,
        #d9d9d9,
        #bfbfbf,
        #a6a6a6,
        #8c8c8c,
        #7a7a7a,
        #6e6e6e,
        #7a7a7a,
        #8c8c8c,
        #a6a6a6,
        #bfbfbf,
        #d9d9d9,
        #f1f1f1
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-image: linear-gradient(
        to bottom,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

/* forms */
form {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0 5px;
}

/* buttons */
.searching,
.searching1,
.loadmorePokemon {
    background-color: lightgray;
    color: rgb(53, 106, 188);
    font-weight: 700;
    border: 2px solid rgb(53, 106, 188);
    border-radius: 16px;
    cursor: pointer;
}

.searching {
    font-size: 16px;
    height: 32px;
    padding: 0 12px;
}

.searching1 {
    font-size: 16px;
    width: 42px;
    height: 37px;
}

.searching:hover,
.searching1:hover {
    background-color: rgb(230, 230, 230);
}

.loadmorePokemon {
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 5px 10px;
}

.loadmorePokemon:hover {
    background-color: rgb(255, 244, 199);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin: 16px;
    gap: 32px;
}

.pokemon-card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: lightgray;
    width: 250px;
    height: 300px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}

.pokemon-card:hover {
    scale: 0.99;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
}

.pokemon-card:hover .type-button {
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}

.pokemon-card:hover h1 {
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.6);
}

.headerimg {
    width: 250px;
}

.pokemon-img {
    position: sticky;
    width: 175px;
    height: 175px;
    margin-bottom: 50px;
}

.pokeball {
    position: absolute;
    width: 220px;
    height: 220px;
    opacity: 0.4;
    animation: rotate 25s linear infinite;
    transform-origin: center center;
    filter: blur(5px);
}

/* animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* detail view */
.main-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background-color: lightgray;
    max-width: 400px;
    height: 60vh;
    transition: all 0.4s ease;
    overflow: hidden;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.6);
}



.Pokename,
.large-types-container {
    text-shadow: 3px 5px 12px rgba(0, 0, 0, 0.6);
    position: relative;
    padding-left: 100px;
    width: 470px;
}

.Pokename {
    top: 80px;
}

.large-types-container {
    top: 70px;
}

.pokemon-img-large {
    position: relative !important;
    width: 275px;
    height: 275px;
    top: -415px;
    z-index: 999;
}

.pokeball-img-large {
  opacity: 0.3;
  display: block;
  margin: 0 auto; 
  animation: rotate 25s linear infinite;
  transform-origin: center center;
  filter: blur(3px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
    display: flex;
    justify-content: space-around;
    gap: 110px;
    margin-top: -750px;
}

.navigation-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}

.navigation-image:hover {
    scale: 1.1;
}

.card-name {
    position: relative;
    top: -16px;
}

.info-container {
    background-color: white;
    border-radius: 40px;
    width: 400px;
    height: 320px;
    margin-top: 381px;
    z-index: 1;
    background: radial-gradient(circle at 50% 50%, white 10%, rgb(235, 235, 235) 40%, rgb(193, 193, 193) 100%);
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.2); 
}

.info-container-names {
    cursor: pointer;
}

.poke-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
    color: rgb(53, 106, 188);
    height: 53px;
}

.tab {
    cursor: pointer;
}

.tab:hover {
    color: rgb(253, 236, 166);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.tab.selected {
    background-color: rgb(53, 106, 188);
    color: white;
    border-radius: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 7px;
}

.tab-contents {
    display: flex;
    justify-content: space-around;
}

.tab-content {
    color: rgb(53, 106, 188);
    font-weight: 700;
    width: 300px;
}

.tab-content ul {
    list-style: none;
    padding-left: 0;
}

p,
li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 236, 166);
    border-radius: 16px;
    padding: 3px 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.6);
}

/* utility */
.type-button {
    background-color: lightgray;
    color: white;
    font-size: 18px;
    min-width: 80px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid white;
    text-transform: capitalize;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.6);
}

.d-none {
    display: none !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(53, 106, 188);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 138, 170);
}
