.type-button {
    border: none;
    padding: 4px 10px;
    border-radius: 12px;
    color: white;
    text-transform: capitalize;
}

.grass-type { background-color: rgba(120, 200, 80, 0.75); }
.poison-type { background-color: rgba(160, 64, 160, 0.75); }
.fire-type { background-color: rgba(240, 128, 48, 0.75); }
.water-type { background-color: rgba(104, 144, 240, 0.75); }
.electric-type { background-color: rgba(248, 208, 48, 0.75); }
.flying-type { background-color: rgba(168, 144, 240, 0.75); }
.bug-type { background-color: rgba(168, 184, 32, 0.75); }
.normal-type { background-color: rgba(168, 168, 120, 0.75); }
.ground-type { background-color: rgba(224, 192, 104, 0.75); }
.fairy-type { background-color: rgba(238, 153, 172, 0.75); }
.fighting-type { background-color: rgba(192, 48, 40, 0.75); }
.psychic-type { background-color: rgba(248, 88, 136, 0.75); }
.rock-type { background-color: rgba(184, 160, 56, 0.75); }
.steel-type { background-color: rgba(184, 184, 208, 0.75); }
.ice-type { background-color: rgba(152, 216, 216, 0.75); }
.ghost-type { background-color: rgba(112, 88, 152, 0.75); }
.dragon-type { background-color: rgba(112, 56, 248, 0.75); }
